.pageContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  p {
    padding: 0;
    margin: 0;
  }
}

.heroContainer {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  text-align: center;
  font-size: 1.75rem;
}

.countdown {
  text-align: center;
  font-size: 2.75rem;
}

@media (min-width: 576px) {
  .hero {
    font-size: 2.5rem;
  }

  .countdown {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .hero {
    font-size: 3rem;
  }

  .countdown {
    font-size: 5rem;
  }
}

@media (min-width: 992px) {
  .hero {
    font-size: 3.5rem;
  }

  .countdown {
    font-size: 6rem;
  }
}
