.panther {
  display: block;
  margin-bottom: 2vh;
  width: 40vw;
  max-width: 250px;
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) {
  .container {
    top: 20%;
  }

  .panther {
    width: 30vw;
  }
}

@media (min-width: 768px) {
  .panther {
    width: 20vw;
  }
}

@media (min-width: 992px) {
  .panther {
    width: 10vw;
  }
}

