.container {
    position: absolute;
    top: 20%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.logo {
    width: 40%;
    display: block;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 1.5rem;
    margin: auto auto .5rem;
}

.heading {
    font-size: calc(26px + (40 - 26) * ((100vw - 300px) / (1600 - 300)));
    margin: .9rem 0;
}

.subheading {
    font-size: calc(22px + (32 - 22) * ((100vw - 300px) / (1600 - 300)));
    margin: .8rem 0;
}

.text {
    font-size: calc(19px + (22 - 19) * ((100vw - 300px) / (1600 - 300)));
    margin: .7rem 0;
}

@media (min-width: 576px) {
    .container {
        top: 20%;
    }

    .logo {
        width: 25%;
        border-radius: 3rem;
    }
}