.yearContainer {
  width: 95%;
  margin-bottom: 2rem;
}

.alumniContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.yearHeader {
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem 0 0.5rem 0;
}

.alumni {
  height: min(25rem, min-content);
  display: flex;
  flex-direction: column;
  transition: transform 200ms;
  width: 75%;
  margin: 0;
  padding: 0.75rem;
}

.alumni p {
  margin: 0.2rem;
}

.alumni:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.image {
  width: 100%;
  aspect-ratio: 1;
  border-radius: .5rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.name {
  font-size: 1.1rem;
}

.role {
  color: rgba(0, 0, 0, 0.55);
  font-size: 0.9rem;
}


.pageHeader {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.25rem;
}

.description {
  margin-top: 0.25rem;
  font-size: 1.25rem;
}

@media screen and (min-width: 600px) {
  .yearHeader {
    text-align: start;
  }

  .alumniContainer {
    justify-items: start;
  }

  .yearContainer {
    width: 95%;
  }

  .description {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .alumniContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .alumniContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .description {
    max-width: 550px;
  }
}

