.panther {
  display: block;
  border-radius: 1.5rem;
  margin: auto auto auto;
  margin-top: 1%;
  margin-bottom: 2%;
}

.container {
  position: absolute;
  top: 20%;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    top: 20%;
  }
}
